site_name: air-agent
repo_url: https://github.com/gurusha01/air-agent
site_url: https://gurusha01.github.io/air-agent
site_description: Something Something AI Research Agents
site_author: Gurusha Juneja
edit_uri: edit/main/docs/
repo_name: gurusha01/air-agent
copyright: Maintained by <a href="https://gurusha01.com">gurusha01</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["air"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gurusha01/air-agent
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/air-agent

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
